<html>
<head>
  <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="lib/styles/styles.css">
  <script src="/lib/dsp.js/dsp.js"></script>
  <script src="/lib/microphone.js"></script>
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/lib/music.js"></script>
</head>
<body> 
  <div class = "main">
    <h1 class="text-center title">WhistleBot</h1>
    <h1 class="text-center subtitle"> Experimental MUSIC Synthesis</h1>
    <div class="row">
      <div class="col-xs-12">
      <img src="/lib/images/synth.jpeg" class="center-block synth">
    </div>
  </div>
</body>
</html>